$TTL	604800
@	IN	SOA	exm.ttu. root.exm.ttu. (
			 {{ts.stdout_lines[0]}}		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for dns in dns_records %}
{% if dns.type != "CNAME" %}
{{dns.name}}	IN	{{dns.type}}	{{dns.address}}
{% else %}
{{dns.name}}	{{dns.type}}	{{dns.address}}
{% endif %}
{% endfor %}
