<?php
      define('DB_NAME', 'wordpress');
      define('DB_USER', 'user');
      define('DB_PASSWORD', '{{mysql_password}}');
      define('DB_HOST', 'localhost');
      define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
     ?>
