zone "sbo.ttu" {
{% if dns_role == "master" %}
type master;
file "/etc/bind/db.sbo";
allow-transfer { {{ hostvars[groups['VMs'][1]].ansible_host }};};
{% else %}
type slave;
file "/var/lib/bind/db.sbo";
masters {
{{ master_ip }};
};
{% endif %}
};

zone "56.168.192.in-addr.arpa" {
{% if dns_role == "master" %}
      type master;
      file "/etc/bind/db.sbo.ptr";
allow-transfer { {{ hostvars[groups['VMs'][0]].ansible_host }};};
{%else%}
type slave;
file "/etc/bind/db.sbo.ptr";
masters {
{{ master_ip }};
};
{%endif%}
};
